@mixin button
    padding: 3px 20px
    outline: none
    color: $color1
    background-color: $color2
    border: 1px $color2 solid
    border-radius: 5px
    transition: all 0.25s
    &:hover
        color: $color2
        background-color: $color1
        border: 1px $color2 solid